<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Сайт электролаборатории</title>
</head>
<body>
    <div class="site_navigator">
        <nav>
            <a class="site_link" href="#">Главная</a>
            <a class="site_link" href="#">О нас</a>
            <a class="site_link" href="#">Приборная база</a>
            <a class="site_link" href="#">Лицензии</a>
            <a class="site_link" href="#">Наши объекты</a>
            <a class="site_link" href="#">Наши заказчики</a>
            <a class="site_link" href="#">Нормативная база</a>
            <a class="site_link" href="#">Раcчет стоимости работ</a>
            <a class="site_link" href="#">Галерея</a>
            <a class="site_link" href="#">Контакты</a>
        </nav>
    </div>
    <div class="container">
    </div>

</body>
</html>