<div th:fragment="site_navigator" class="site_navigator">
	<nav>
		<a class="site_link" href="/">Главная</a> <a class="site_link"
			href="/about_us">О нас</a> <a class="site_link" href="/devices">Приборная
			база</a> <a class="site_link" href="/license">Лицензии</a> <a
			class="site_link" href="/builds">Наши объекты</a> <a
			class="site_link" href="/employers">Наши заказчики</a> <a
			class="site_link" href="/normative">Нормативная база</a> <a
			class="site_link" href="/calculate">Раcчет стоимости работ</a> <a
			class="site_link" href="/galery">Галерея</a> <a class="site_link"
			href="/contacts">Контакты</a>
	</nav>
</div>